<?xml version='1.0' encoding='utf-8'?>
<robot name="spoon_spatula">
  <link name="spoon_spatula">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="spoon_spatula_collision/decomp_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.112612 -0.000574763 0.00121993" rpy="0 0 0" />
      <mass value="0.0928273" />
      <inertia ixx="2.32916e-05" ixy="-1.87933e-05" ixz="2.56045e-05" iyy="0.00103735" iyz="1.6963e-07" izz="0.00104371" />
    </inertial>
  </link>
</robot>