<?xml version='1.0' encoding='utf-8'?>
<robot name="red_brush">
  <link name="red_brush">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush.obj" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_0.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_1.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_2.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_3.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_4.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_5.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_6.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_7.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_8.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_9.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_10.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_11.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_12.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_13.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_14.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_15.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_16.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_17.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_18.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_19.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_20.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_21.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_22.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_23.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_24.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_25.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_26.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_27.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_28.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_29.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_30.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_31.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_32.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_33.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_34.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_35.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_36.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_37.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_38.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_39.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_40.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_41.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_42.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_43.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_44.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_45.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_46.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_47.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_48.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_49.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_50.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_51.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_52.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_53.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_54.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_55.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_56.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_57.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_58.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_59.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_60.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_61.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="red_brush_collision/decomp_62.obj" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.144441 0.000654155 0.0344481" rpy="0 0 0" />
      <mass value="0.0787839" />
      <inertia ixx="8.2041e-05" ixy="4.13576e-06" ixz="-5.61719e-05" iyy="0.000477486" iyz="2.49864e-06" izz="0.000464341" />
    </inertial>
  </link>
</robot>